body,html{
  height: 100%;
}
.common-top {
  margin-bottom: .60241rem /* 50/83 */;
}
.container {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  background-color: #0d0f1b;
}

/* 设置密码内容 */
.register-item {
  position: relative;
  height: 1.325301rem /* 110/83 */;
  color: #fff;
  background-color: #151724;
}
.register-item .icon {
  position: absolute;
  top: 50%;
  left: .710843rem /* 59/83 */;
  transform: translateY(-50%);
  width: .289157rem /* 24/83 */;
  height: .361446rem /* 30/83 */;
  background-color: skyblue;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}
.register-item input {
  box-sizing: border-box;
  padding-left: 1.385542rem /* 115/83 */;
  margin-top: .409639rem /* 34/83 */;
  border-bottom: 1px solid #131523;
  width: 8.915663rem /* 740/83 */;
  height: .578313rem /* 48/83 */;
  line-height: .578313rem /* 48/83 */;
  font-size: .361446rem /* 30/83 */;
  vertical-align: top;
  background-color: transparent;
  color: #cdcdcf;
}

.register-item input::-webkit-input-placeholder {
  color: #cdcdcf;
}

.register-item .vercode {
  box-sizing: border-box;
  padding-right: 2.409639rem /* 200/83 */;
}
.get-vercode {
  cursor: pointer;
  position: absolute;
  top: 50%;
  right: 1.084337rem /* 90/83 */;
  transform: translateY(-50%);
  padding-left: .204819rem /* 17/83 */;
  border-left: 1px solid #fff;
  font-size: .313253rem /* 26/83 */;
  height: .301205rem /* 25/83 */;
  line-height: .301205rem /* 25/83 */;
  color: #d70d10;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}

.register-form .submit-btn {
  margin-top: 1.39759rem /* 116/83 */;
}

.agreement {
  margin-top: 40px;
  font-size: .228916rem /* 19/83 */;
  text-align: center;
  color: #cccdce;
}
.agreement-link {
  color: #c40306;
}